<!-- this page is for the blog or in this case notifications -->

<%- include('partials/header'); -%>
<%- include("./partials/nav.ejs") %>

<body>


  <div class="blogs content">
    <h2>All Clubs</h2>

    <% if (clubs.length > 0) { %>
      <% clubs.forEach(club => { %>
        <a class="single" href="/clubs/<%= club._id %>">
          <h3 class="title"><%= club.title %></h3>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no Clubs to display...</p>
    <% } %>
    
  </div>

  <script>


    function search_text() { 
        let input = document.getElementById('searchbar').value 
        input=input.toLowerCase(); 
        let x = document.getElementsByClassName('texts'); 
          
        for (i = 0; i < x.length; i++) {  
            if (!x[i].innerHTML.toLowerCase().includes(input)) { 
                x[i].style.display="none"; 
            } 
            else { 
                x[i].style.display="list-item";                  
            } 
        } 
    } 
      </script>

</body>
<%- include('partials/footer'); -%>