<!-- this page is for viewing the details of the blog -->

<%- include('partials/header'); -%>


<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= club.title %></h2>
    <div class="content">
      <p><%= club.body %></p>
    </div>
    <% if (club.person == user.email) { %> 
      <a class="delete" data-doc="<%= club._id %>">
        <img src="/trashcan.svg" alt="delete icon">
    </a>
    <% } %> 
    <form action="/clubs/:id" method="POST">
      <label for="link">Custom Links</label>
      <input type="text" id="link" name="link">
      <label for="person">Email:</label>
      <input type="text" id="person" name="person" value="<%= user.email %>" >
      <button>Save</button>
    </form>

  </div>



  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/clubs/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
<%- include('partials/footer'); -%>