<!-- this page is for the blog or in this case notifications -->

<%- include('partials/header'); -%>
<%- include("./partials/nav.ejs") %>

<body>

    <%- include("./partials/search_p.ejs") %>
  
  <div class="blogs content">
    <h2>All Searches</h2>
    <ol id='list'>
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <li class="texts"><a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        </a></li> 
        
      <% }) %>
    <% } else { %>
      <p>It is not available...</p>
    <% } %>
  </ol> 
  </div>

  <script>


function search_text() { 
    let input = document.getElementById('searchbar').value 
    input=input.toLowerCase(); 
    let x = document.getElementsByClassName('texts'); 
      
    for (i = 0; i < x.length; i++) {  
        if (!x[i].innerHTML.toLowerCase().includes(input)) { 
            x[i].style.display="none"; 
        } 
        else { 
            x[i].style.display="list-item";                  
        } 
    } 
} 
  </script>

</body>
<%- include('partials/footer'); -%>